<link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Manrope:wght@400;600&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
body{
    font-family: 'Lugrasimo', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text:1.5rem;
   --head:cal(1.5rem + 5vh);
}

.hero-section{
    min-height: 100vh;
    background:linear-gradient(black , transparent),
     url("https://images.unsplash.com/photo-1593504049359-74330189a345?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGl6emF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slide 1s ease-in-out;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1.5rem;
    color: white;
}

.navbar ul{
    list-style:none;
}

.navbar ul li{
    display: inline-block;
    margin-left:3rem ;
    font-size: var(--text);
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}

.navbar ul li a:hover{
    border-bottom: 2px solid white ;
}

.hero-text{
    color:white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide 1s ease-in-out;
}

@keyframes slide{
    from{
        transform: translateX(-100%);
    }to{
        transform: translateX(0%);
    }
}

.hero-text a{
    color: white;
    background-color: orange;
    font-weight: 900;
    padding: 0.8rem 1rem;
    display: block;
    transition: opacity 250ms linear;
}

.hero-text a:hover{
    opacity: 0.8;
}

.hero-text h2{
font-size: 6.5rem;
}

.hero-text p{
    font-size: 3rem;
}